body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5; 
}
.App {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px; 
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f9fa; 
  color: #343a40; 
}

h1 {
  text-align: center;
  margin-bottom: 40px; 
  color: #26886e; 
  font-weight: 700;
  font-size: 2.5em;
  border: 4px solid #26886e;
  padding: 15px;
}

.search-bar {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  max-width: 600px; 
  padding: 12px 20px; 
  font-size: 1.1em;
  border: 2px solid #ced4da; 
  border-radius: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input:focus {
  border-color: #26886e;  
  outline: none;
}

.course-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.course-card {
  background-color: #ffffff;
  border: none; 
  padding: 25px; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.course-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.course-card h3 {
  margin-top: 0;
  margin-bottom: 15px; 
  color: #212529;
  font-size: 1.4em;
  border-bottom: 2px solid #e9ecef; 
  padding-bottom: 10px;
}

.course-card p {
  margin: 8px 0;
  font-size: 1em;
  color: #6c757d;
}

.course-card p strong {
  color: #495057; 
}


.quote-box {
  background-color: #ecf0f1; 
  border-left: 5px solid #26886e; 
  border-right: 5px solid #26886e;
  padding: 20px 30px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-style: italic;
}

.quote-text {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
  color: #2c3e50;
}

.quote-author {
  font-style: normal;
  font-size: 0.9em;
  color: #7f8c8d;
  margin-bottom: 0;
}

.quote-box.loading,
.quote-box.error {
    text-align: center;
    padding: 15px;
    background-color: #f7dddd;
    color: #c0392b;
}


.quote-refresh-btn {
  background-color: #26886e; 
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 15px;
  transition: background-color 0.2s;
}

.quote-refresh-btn:hover:not(:disabled) {
  background-color: #15725a; 
}



.quote-box {
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #6c757d;
  font-size: 0.9em;
  background:  #15725a;
  color: white;
}